.pattern-preview__markup--menu_panel .mzp-c-menu-panel {
  display: block;
  position: relative;
}

.pattern-preview__markup--menu_panel .mzp-c-menu-panel.mzp-has-card .mzp-c-menu-panel-card {
  display: block;
}
