{% set variant = variant|default("right") %}
{% set attributes = attributes.addClass('mzp-l-billboard-' ~ variant|lower|replace({'_': '-'})) %}

<div{{ attributes.addClass('mzp-c-billboard') }}>
  <div class="mzp-c-billboard-image-container">
    {{ image|add_class('mzp-c-billboard-image') }}
  </div>
  <div class="mzp-c-billboard-content">
    <div class="mzp-c-billboard-content-container">
      <div class="mzp-c-billboard-content-inner">
        {% if title %}
        <h{{ heading_level|default(2) }} class="mzp-c-billboard-title">{{ title }}</h{{ heading_level }}>
        {% endif %}
        {% if desc %}
        <p class="mzp-c-billboard-desc">{{ desc }}</p>
        {% endif %}
        {{ cta_link|add_class('mzp-c-cta-link') }}
      </div>
    </div>
  </div>
</div>
