<nav{{ attributes.addClass('mzp-c-breadcrumb').setAttribute('aria-label', 'breadcrumb') }}>
  <ol class="mzp-c-breadcrumb-list">
    {% for item in items %}
      {% if item.url %}
      <li class="mzp-c-breadcrumb-item">
          <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
      {% else %}
      <li aria-current="page" class="mzp-c-breadcrumb-item">
          {{ item.title }}
      </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
