<nav{{ attributes.addClass('mzp-c-menu') }}>
  <ul class="mzp-c-menu-category-list">
  {% for item in items %}
    {% set item_attributes = create_attribute(item.attributes|default({})) %}
    {% set item_attributes = item_attributes.addClass('mzp-c-menu-title') %}
    {% if item_attributes['aria-controls'] %}
    <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable">
      {% set url = item.url|default(item_attributes.href|default("#")) %}
      <a{{ item_attributes.setAttribute('aria-haspopup', 'true').setAttribute('href', url) }}>{{ item.title }}</a>
        {{ panels }}
    </li>
    {% else %}
    <li class="mzp-c-menu-category">
      {% set url = item.url|default(item_attributes.href|default("")) %}
      {% if url %}
      <a{{ item_attributes.setAttribute('href', url) }}>{{ item.title }}</a>
      {% else %}
      <span{{ item_attributes }}>{{ item.title }}</span>
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>

</nav>
