{#
/**
 * @file
 * UI Pattern meta information.
 */
#}

{% if pattern is not empty %}

  <p class="pattern-preview__description">{{ pattern.description }}</p>

  {# Pattern fields descriptions. #}
  {% if pattern.fields or pattern.additional.settings %}
  <table class="pattern-preview__fields mzp-u-data-table">
    <thead>
    <tr>
      <th>{{ "Name"|t }}</th>
      <th>{{ "Label"|t }}</th>
      <th>{{ "Type"|t }}</th>
      <th>{{ "Description"|t }} / {{ "Options"|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% for field in pattern.fields %}
      <tr>
        <td><code>{{ field.name }}</code></td>
        <td>{{ field.label }}</td>
        <td><code>slot</code></td>
        <td>{{ field.description }}</td>
      </tr>
    {% endfor %}
    {% for name, setting in pattern.additional.settings %}
      <tr>
        <td><code>{{ name }}</code></td>
        <td>{{ setting.label }}</td>
        <td><code>{{ setting.type }}</code></td>
        <td>{{ setting.description }}
        {% if setting.options %}
        <ul>
        {% for key, label in setting.options %}
          <li>{{ key }}: {{ label }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% endif %}
