{% set attributes = (variant == 'download') ? attributes.addClass('mzp-t-cta').addClass('mzp-t-download') : attributes %}

<div{{ attributes.addClass('mzp-c-menu-list') }}>
  {% if title %}
  <h3 class="mzp-c-menu-list-title">{{ title }}</h3>
  {% endif %}
  <ul class="mzp-c-menu-list-list">
    {% for item in items %}
    <li class="mzp-c-menu-list-item">
      <a href="#">{{ item.title }}</a>
    </li>   
    {% endfor %}
  </ul>
</div>
