<nav{{ attributes.addClass('mzp-c-sidemenu') }}>

 <section class="mzp-c-sidemenu-summary mzp-js-toggle" aria-controls="sidebar-menu">
    {% if label %}
    <h3 class="mzp-c-sidemenu-label">{{ label }}</h3>
    {% endif %}
    
    {# TODO: get the path to menu item #}
    <ul>
      <li>Menu title</li>
      <li class="mzp-is-current">Menu item one</li>
    </ul>
  </section>

  <section class="mzp-c-sidemenu-main" id="sidebar-menu">
    {% for item in items %}
      <h4 class="mzp-c-sidemenu-title">
        {% set attributes = item.attributes ? create_attribute(item.attributes) : create_attribute() %}
        <a{{ attributes.setAttribute('href', item.url) }}>{{ item.title }}</a>
      </h4>
      {% if item.below %}
      <ul>
          {% for subitem in item.below %}
            {% set item_attributes = subitem.in_active_trail ? attributes.addClass('mzp-is-current') : create_attribute() %}
            {% set link_attributes = subitem.attributes ? create_attribute(subitem.attributes) : create_attribute() %}
            <li{{ item_attributes }}>
              <a{{ link_attributes.setAttribute('href', subitem.url) }}>{{ subitem.title }}</a>
            </li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
  </section>

</nav>
