{% if variant and variant|lower != 'small' %}
  {% set attributes = attributes.addClass('mzp-c-card-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% set attributes = aspect ? attributes.addClass('mzp-has-aspect-' ~ aspect) : attributes %}

<section{{ attributes.addClass('mzp-c-card') }}>
  {% if link %}
    <a class="mzp-c-card-block-link" href="{{ link }}">
  {% endif %}
  {% if image %}
  <div class="mzp-c-card-media-wrapper">
    {{ image|add_class("mzp-c-card-image") }}
  </div>
  {% endif %}
  <div class="mzp-c-card-content">
    {% if tag %}
    <div class="mzp-c-card-tag">{{ tag }}</div>
    {% endif %}
    {% if title %}
    <h{{ heading_level|default('2') }} class="mzp-c-card-title">{{ title }}</h{{ heading_level|default('2') }}>
    {% endif %}
    {% if desc %}
    <p class="mzp-c-card-desc">{{ desc }}</p>
    {% endif %}
    {% if meta %}
    <p class="mzp-c-card-meta">{{ meta }}</p>
    {% endif %}
    {% if cta %}
    <p class="mzp-c-card-cta"><span class="mzp-c-card-cta-text">{{ cta }}</span></p>
    {% endif %}
  </div>
  {% if link %}
    </a>
  {% endif %}
</section>
