<section{{ attributes.addClass('mzp-c-newsletter') }}>
  {% if image %}
  <div class="mzp-c-newsletter-image">{{ image }}</div>
  {% endif %}
  
  <div class="mzp-c-newsletter-form">

    {% if title or tagline %}
    <header class="mzp-c-newsletter-header">
      {% if title %}
      {% set heading_level = heading_level|default('h3') %}
      <h{{ heading_level }} class="mzp-c-newsletter-title">{{ title }}</h{{ heading_level }}>
      {% endif %}
      {% if tagline %}
      <p class="mzp-c-newsletter-tagline">{{ tagline }}</p>
      {% endif %}
    </header>
    {% endif %}

    <div class="mzp-c-newsletter-content">
    {{ content }}
    </div>

  </div>
</section>
