{% set attributes = card ? attributes.addClass('mzp-has-card') : attributes %}
{% set panel_id = panel_id|default("menu-panel_" ~ random()) %}

<div{{ attributes.addClass('mzp-c-menu-panel').setAttribute('id', panel_id) }}>
  <div class="mzp-c-menu-panel-container">
    <button class="mzp-c-menu-button-close" type="button" aria-controls="{{ panel_id }}">
      {{ "Close menu"|t }}
    </button>
    <div class="mzp-c-menu-panel-content">
      {% if first_col %}
      <ul>
      {% for item in first_col %} 
        <li>{{ item }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% if first_col %}
      <ul>
      {% for item in second_col %} 
        <li>{{ item }}</li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% if card %}
    <div class="mzp-c-menu-panel-card">
      {{ card }}
    </div>
    {% endif %}
  </div>
</div>
